<script setup lang="ts">
import framePortView from "@/components/framePortView.vue";
import { ref, computed } from "vue";
const framelist = ref([
  {
    name: "ภัทราพร หนูทอง",
    img: "https://scontent.fbkk8-2.fna.fbcdn.net/v/t39.30808-6/272990405_7463914740315856_9164327480853442563_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEhq5gd5MO4RI28fFDX7VhY77uKBn7AFnPvu4oGfsAWc7qZGcqmRoJrHuGTcNXQrqK9-JsC3GTrWEhZsr43-h4V&_nc_ohc=wu4gQtjgq0AAX-8QJzQ&_nc_zt=23&_nc_ht=scontent.fbkk8-2.fna&oh=00_AfDMjX6_cC8ywt72lEYcBuGhp5tr75dhIXU9ORMY9jPBfw&oe=63A55330",
    education:"ประวัติการศึกษา : คณะวิทยาการสารสนเทศ สาขาวิทยาการคอมพิวเตอร์",
    interested:"สิ่งที่สนใจ : การท่องเที่ยว การเดินทาง เลี้ยงแมว"
  }
  
]);


</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of framelist" :key="index">
        <framePortView
          :name="item.name"
          :img="item.img"
          :education="item.education"
          :interested="item.interested"
          
        ></framePortView>
      </v-col>
    </v-row>
  </v-container>
</template>
